.jumbotron{
	margin-top: 50px;
	background-color: #571845;
	color: #f2d7d5;
}


footer{
	padding: 10px 10px 0px 10px;
	background-color: #571845;
	margin-bottom: 0px;
	margin-top: 10px;
	color: white;
}

.footer-address-icon{
	padding-right: 10px;
}

.card-hotel{
	flex: 1 200px;
	/*flex n (grow) cuanto queremos que crezca y a que ancho Px  
	si ponemos n=1 significa que queda intacta. por ejemplo si ponemos 2 
	decimos que cada item puede ocupar hasta el doble de ancho
	background-image: url("../imagenes/img_top.png");
	background-position: center center;
	background-size: contain;
	*/
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
	background-color: #c70039;
	color: white;
	font-weight: bolder;
}

.tab-content{
	padding-top: 10px;
}